.animation {
    width:100%;
}

.animation .mask {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
  }
  
  @keyframes strokeOffset {
    to {
      stroke-dashoffset: 0;
    }
  } 
  
   #mask-w {
    animation: strokeOffset 0.5s linear forwards 0.5s;
  }
  #mask-rite {
    animation: strokeOffset 0.5s linear forwards 1s;
  }
  #mask-dot {
    animation: strokeOffset 0.5s linear forwards 1.5s;  
  }
  #mask-t-line {
    animation: strokeOffset 0.5s linear forwards 2s;
  }
  #mask-comma1 {
    animation: strokeOffset 0.5s linear forwards 2.5s;
  }

  #mask-erase {
    animation: strokeOffset 0.5s linear forwards 3s;
  }

  #mask-comma2 {
    animation: strokeOffset 0.5s linear forwards 3.5s;
  }

  #mask-repeat {
    animation: strokeOffset 0.5s linear forwards 4s;
  }

  #mask-t-line2 {
    animation: strokeOffset 0.5s linear forwards 4.5s;
  }