@font-face {
  font-family: texGyreHeros;
  src: url("/fonts/texgyreheros-regular.otf") format("opentype");
}

*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}



html body{
background-color: var(--color-background);
font-family: var(--font-sansSerif);
font-size: 24px;
font-weight: 400;
margin: 0;
text-transform: uppercase;
}

:root{
  --font-sansSerif: texGyreHeros, sans-serif;
  --color-background: #E0E0E0;
  --color-primary:#0F0F0F;
}