@font-face {
  font-family: texGyreHeros;
  src: url("/fonts/texgyreheros-regular.otf") format("opentype");
}

*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}



html body{
background-color: var(--color-background);
font-family: var(--font-sansSerif);
font-size: 24px;
font-weight: 400;
margin: 0;
}

ul {
  list-style: none;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
color:var(--color-selection);
}

:root{
  --font-sansSerif: texGyreHeros, sans-serif;
  --color-background: #E0E0E0;
  --color-primary:#0F0F0F;
  --color-selection: #0000EE
}