.main {
    margin: 0;
    padding: 32px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #headerSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    margin-bottom: 24px;
  }

  #linkContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  #caseSection {
    margin-top: auto;
}

.paragraph {
    text-indent: 4em;
    margin: 0;
}

.paragraph:nth-child(2) {
    text-indent: 0;
    margin: 0;
}

.title {
    font-size: 24px;
    width: 100%;
    margin: 0 0 8px 0;
    letter-spacing: normal;
}

.iframe {
    border: none;
    width: 100%;
}

.image {
    width: 100%;
    height: auto;
}

#arrow {
    width: 32px;
    height: 28px;
}

.back {
    height: fit-content;
    width: fit-content;
}

.url {
    width: fit-content;
    border-bottom: 0.1em solid var(--color-primary);

}

.url:hover {
    color: var(--color-selection);
    border-bottom: 0.1em solid var(--color-selection);
}

@media (max-width:768px){
    .main {
        padding: 24px;
        justify-content: space-between;
    }
    #headerSection{
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        justify-content: inherit;
    }

    .title {
        font-size: 16px;
    }

    #arrow {
        margin-bottom: 16px;
    }
  }